### Pandas Data Frames Data Analysis with Python

## Example  1

In [10]:
import pandas as pd
dict={"Name":["Anil","Akhil","Dinesh","Harsha","Ajay","Kranth"],
    "EmailID":["anil@gmail.com","akhil@gmail.com","dinesh@gmail.com","harsha@gmail.com","ajay@gmail.com","kranth@gmail.com"],
    "Mobile Number":[99,44,55,22,33,41]}

b=pd.DataFrame(dict)
print(b)

     Name           EmailID  Mobile Number
0    Anil    anil@gmail.com             99
1   Akhil   akhil@gmail.com             44
2  Dinesh  dinesh@gmail.com             55
3  Harsha  harsha@gmail.com             22
4    Ajay    ajay@gmail.com             33
5  Kranth  kranth@gmail.com             41

In [11]:
b.index=["01","02","03","04","05","06"]
print(b)

      Name           EmailID  Mobile Number
01    Anil    anil@gmail.com             99
02   Akhil   akhil@gmail.com             44
03  Dinesh  dinesh@gmail.com             55
04  Harsha  harsha@gmail.com             22
05    Ajay    ajay@gmail.com             33
06  Kranth  kranth@gmail.com             41

## Example 2
#### supermarket.csv - Analysis (Which product having higher % of selling)
#### Which products having least selling %

In [2]:
import pandas as pd
products=pd.read_csv('file1.txt')
print(products)

    This is 0 Line
0   This is 1 Line
1   This is 2 Line
2   This is 3 Line
3   This is 4 Line
4   This is 5 Line
5   This is 6 Line
6   This is 7 Line
7   This is 8 Line
8   This is 9 Line
9       New line 1
10      New line 2

## Example 3
#### Create a series by passing a list of values

In [3]:
import pandas as pd
a=pd.Series([1,3,4,5,6,7])
print(a)

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

## Example 4
#### Missing values then it can be nan of numpy

In [9]:
import numpy as np
a1=pd.Series([1,2,3,4,np.nan,6])
print(a1)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
dtype: float64

## Example 5
#### Create a list of dates with in particular range

In [10]:
dates=pd.date_range('20190601',periods=20)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12',
               '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20'],
              dtype='datetime64[ns]', freq='D')

## Example 6

In [12]:
lst=pd.date_range('20190601',periods=5)
print(lst)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05'],
              dtype='datetime64[ns]', freq='D')

## Example 7

In [16]:
a3=pd.DataFrame({'A':1.,
                 'B':pd.Timestamp('20190601'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([3]*4,dtype='int32'),
                 'E':pd.Categorical(["test","train","test","train"]),
                 'F':'foo'})
print(a3)

     A          B    C  D      E    F
0  1.0 2019-06-01  1.0  3   test  foo
1  1.0 2019-06-01  1.0  3  train  foo
2  1.0 2019-06-01  1.0  3   test  foo
3  1.0 2019-06-01  1.0  3  train  foo